// Colors
$orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$green: hsl(179, 100%, 13%);
$white: hsla(0, 0%, 100%, 0.75); // paragraphs
$gray: hsl(0, 0%, 95%); // background, headings, buttons

body {
    background-color: $gray;
    font-size: 15px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-basis: 960px;
    display: flex;
    flex-direction: row;
}

.card {
    padding: 60px;

    & img {
        padding-bottom: 35px;
    }

    & h2 {
        font-family: 'Big Shoulders Display';
        font-weight: 700;
        font-size: 36px;
        color: $gray;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    & p,
    a {
        font-family: 'lexend deca';
        font-weight: 400;
        line-height: 1.5rem;
    }

    & p {
        color: $white;
        padding-bottom: 80px;
    }

    & a {
        padding: 12px 30px;
        background-color: #fff;
        border-radius: 30px;
        border: solid 2px #fff;
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0);
            color: #fff;
        }
    }


}

.card-1 {
    background-color: $orange;
    border-radius: 10px 0 0 10px;

    & a {
        color: $orange;
    }
}

.card-2 {
    background-color: $cyan;

    & a {
        color: $cyan;
    }

}

.card-3 {
    background-color: $green;
    border-radius: 0 10px 10px 0px;

    & a {
        color: $green;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 5%;
        margin-top: 160px;
    }

    .card-1 {
        border-radius: 10px 10px 0 0;
    }

    .card-3 {
        border-radius: 0 0 10px 10px;
    }

}